@font-face {
    font-family: "Montserrat";
    src: url("../fontes_/Montserrat-Regular.ttf");
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal-form {
    margin-top: 180px;
    width: 500px;
    background-color: #ded9e2; 
    
}

.title-principal {
    padding: 20px 0 0 0;
    margin: 0;
    font-size: 24px;
}
.input-block label,
.textarea-block label {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

.input-block input, 
.textarea-block textarea {
    display: block;
    width: 100%;
    border: 1px solid #572b7e;
    border-radius: 8px;
    outline: 0;
    background-color: #ded9e2;   
}

.input-block input {
    height: 40px;
    padding: 0 10px;
}
.textarea-block textarea {
    padding: 10px;
    height: 100px;
    resize: vertical;
}

.input-block,
.textarea-block {
    position: relative;
}


.button {
    width: 140px;
    color: #f0edf3;
    font-weight: bold;
    margin: 16px 0;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #715998;
    background: #572b7e;
}

.footer-geral {
    margin-top: 60px;
}