@font-face {
    font-family: "Montserrat";
    src: url("../fontes_/Montserrat-Regular.ttf");
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    margin: 3rem 0;
}

.has-text-centered, .label {
    color: #0B7572!important;
}

.btn-form {
    background: #0B7572!important;
}
