
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-principal {
    color: #0B7572;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;  
    margin-top: 3rem;
    text-decoration: underline;    
}

.row-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3rem;
}

.gallery-img {
    margin: 1rem;
    transform: rotate(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.23);
}

.gallery-img:hover {
    filter: grayscale(85%);
    transform: scale(1.1);
}



