
.titulo_principal {
    color: #0B7572;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 4rem;
    text-decoration: underline;
}

.container {
    display: flex;
    
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.galeria_img {
    margin: 25px 20px;
    
}

.lista_img {
    transform: rotate(1.1);
    padding: .2rem;
    box-shadow: 4px 4px rgba(0,0,0,0.1);
}
.lista_img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
