@font-face {
    font-family: "ElMessiri";
    src: url("../fontes_/ElMessiri-Regular.ttf");
    font-size: 16px;
}
@font-face {
    font-family: "Neucha";
    src: url("../fontes_/Neucha-Regular.ttf");
    font-size: 16px;
}

@font-face {
    font-family: "AlexBrush";
    src: url("../fontes_/AlexBrush-Regular.ttf");
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #572b7e;
    font-family: "ElMessiri";
    background-color: #eff1f3;
}

.header-nav {
    background: #ded9e2;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.img-icons {
    width: 100px;
    height: 100px;
}

.logo {
    font-size: 32px;
}

.logo, .sub-logo {
    font-weight: bold;
    color: #572b7e;
    margin-bottom: 0;
    font-family: "AlexBrush";
    margin-left: -10px;
}

.logo:hover, .sub-logo:hover {
    color: #d72483;
}

.sub-logo {
    margin-top: 44px;
    margin-left: -105px;
}

.navbar-light .navbar-nav .nav-link {
    color: #572b7e;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #d72483;
}

.navbar-light .navbar-toggler {
    border-color: rgba(87, 43, 126, 1 );
    padding: .2rem .3rem;
}

.title-home {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

.container-img {
    display: flex;
    justify-content: center;
}

.img-home {
    width: 600px;
}

.container-p-home {
    margin-top: 30px;
}

.p-home {
    margin-bottom: 5px;
}

.last-p {
    margin-bottom: 50px;
}

.footer-geral {
    padding-left: 0;
    padding-right: 0;
}

.container-lg {
    background-color: #ded9e2;   
}

.list-lg {
    text-align: center;  
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.items-lg-title {
    font-weight: bold;
}

.title-first {
    padding-top: 1.45rem;
}

.container-sm {
    text-align: center;
    background-color: #dbd3d8;
    border-top: 1px solid #F9C7E9;
}

.container-redes-sociais {
    background-color: #dbd3d8;
}

.first-list {
    margin-top: 1.3rem;
}

.list-sm, .redes-sociais {
    list-style: none;
    margin-bottom: 0;
}

.items-sm {
    font-size: .89rem;
}

.list-redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: 2rem;
}

.items-redes-sociais {
    margin-left: 1rem;
}

.icon-footer {
    color: #572b7e;
    font-size: 1.8rem;
}

.icon-footer:hover {
    color: #d72483;
}

@media screen and (min-width: 428px) {
    .img-article {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .footer-lg {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .list-lg {
        list-style: none;
    }
    .items-lg-title {
        padding-top: 1.45rem;
    }
    .img-article {
        width: 100%;
    }
}
