@font-face {
    font-family: "Montserrat";
    src: url("../fontes_/Montserrat-Regular.ttf");
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Conteúdo */
body {
    color: #0B7572;
    font-family: "Montserrat";
    background: #faf6f6;   
}

/* Header */
.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background: #ECE5CE;
    padding: 1rem;  
}

.icon-redes-sociais {
    color: #0B7572;
    width: 40px!important;
    height: 40px!important;
    border: 1px solid #0B7572;
    border-radius: .3rem;
    padding: 3px; 
    margin: 0 .3rem;   
}

.icon-redes-sociais:hover {
    background-color: #F9B1C3;
}

/* Menu de navegação */
.menu-lista {
    display: flex;
    margin-bottom: 0;
}

.menu-item {
    list-style: none;
}

.menu-link {
    color: #0B7572;
    font-weight: bold;
    margin: .3rem;
    padding: .6rem;
    border: 1px solid #0B7572;
    border-radius: .3rem;   
}

.menu-link:hover {
    color: #0B7572;
    background-color: #F9B1C3;
    text-decoration: none;
}

/* Rodapé */

.rodape-maior {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #ECE5CE;
}

.itens-rodape-maior {
    text-align: center;
    margin: 2rem 6rem;
    line-height: 2rem;
}

.titulo-rodape-maior {
    font-weight: bold;
}

.rodape-menor {
    height: 60px;
    background-color: #E8E8C4;
    border-top: 1px solid #D4D6D5;
}

.itens-rodape-menor {
    display: flex;
    justify-content: space-between;
}

.paragrafo-rodape-menor {
    margin-top: 1.2rem;
    font-size: .8rem;
}